.container
  .row
    .col-md-12
      .page-header
        %h1
          = image_tag(@user.gravatar_url(size: '48'), title: "Questions...!", alt: '')
          = @user.name
          %small
            = @user.nickname
      
  .row
    .col-md-12
      - if @question.any?
        %ul.list-unstyled
          - @question.each do |question|
            %li
              %h4
                <a href="#link" class="btn btn-info" role="button">question</a>
