.container
  .row
    .col-md-12
      .page-header
        %h1
          = image_tag(@user.gravatar_url(size: '48'), title: "Answers...!", alt: '')
          = @user.name
          %small
            = @user.nickname
      
  .row
    .col-md-12
      - if @answer.any?
        %ul.list-unstyled
          - @answer.each do |answer|
            %li
              %h4
                = answer
